@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
*/
/******ResetCSS*******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #202124;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******ResetCSS*******/

/* common */
*{
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #202124;
	color: white;
}

/* header */
#header{
	background-color:#212529;
}
#header-wrap{
	background-color:#212529;
}

#header_container{
	background-color:#212529;
}

#MainIcon{
	margin-right: auto!important;
	margin-left: auto!important;
	text-align: center;
	
}

#navbar-toggler{
	z-index:1;	
}

#navbarsExample07{
	background-color:#212529;
}


/* body */
#Main-Wrapper{
	width:100%;
	height:100%;
	border-top:1px solid white;
	border-bottom:1px solid white;
	text-align:center;
}
#content-wrapper{
	text-align:center;
	display: inline-block;
	width:70%;
	height:100%;
	/* border: 1px blue solid; */
}
#posts{
	text-align:center;
	display: inline-block;
	width:60%;
	/*border: 1px green solid;*/
	float:left;
	margin: 100px 0 100px 80px;
} 
#side_menu{
	text-align:left;
	display: inline-block;
	width:25%;
	border: 1px pink solid;
	float:left;
	margin: 100px 0 100px 50px;
}
#side_menu>p{
	margin: 10px 0 10px 30px;
}
#userList_Post{
	text-align:center;
	display: inline-block;
	width:90%;
	border: 1px green solid;
}
th, td{
	color:black;
}

#view_title{
	size:30px;
	margin: 50px 0 50px 0;
	
}

#board_form{
	text-align: -webkit-center;
}

#admin_board_table{
	text-align: center;
	width:80%;
}

#admin_board_table2{
	text-align: left;
	width:100%;
	border-top: 1px solid #ccc;
	margin-top: 30px;	
}

#admin_board_table tr td {
	background-color: white;
	border-bottom: 1px solid #ccc;
	
}
#admin_board_table2 tr td {
	padding:10px 0 10px 10px;
	vertical-align:top;
	width:20px;
}
#admin_board_table2 tr  {
	vertical-align:top;
}

#admin_board_table2 tr td, input, textarea{
	background-color: white;
	color: black;
}

#admin_board_table2 input, textarea{
	border: none;
	border-bottom: 1px black solid;
	background: transparent;
	outline:none;
}

#board_title {
	width: 95%;
}

#cke_txtContent {
	width: 95%;
}
#cke_1_contents {
	height: 500px;
}

#admin_board_btn{
	margin-top:25px;
}

#board_update_btn{
	
}
#board_delete_btn{
	margin-left: 10px;
}

#view_posts{
	text-align:center;
	display: inline-block;
	width:100%;
	border-bottom: 1px white solid;
	float:left;
	margin: 0 0 100px 0;
	padding-bottom:50px;
	font-size:25px;
}

#view_posts> h1, h2, p, pre {
	margin:25px;
}

#view_posts> h2, h3{
	text-align:left;
}

#view_posts_title{
	font-size:50px;
	font-weight:600;
	margin:10px;
}

#view_posts_content{
	text-align:left;
	margin-top: 100px;
}

#view_posts_content>img{
	margin:25px;
}

#view_posts_content> h1, h2, p, pre {
	margin:25px;
}
#view_posts_content> h2, h3{
	text-align:left;
}


#admin_SideMenu {
	border-right:1px solid white;
}

#admin_SideMenu span{
	color:white;
}

#post_board_list{
	width:100%;
	height:100%;
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	text-align:left;
}

#post_board_list a {
	margin: 10px;
	text-decoration: none;
}

#post_board_list h1 {
	text-align: center;
	margin: 20px;
	font-size: 30px;
}

#post_board_list p {
	margin-left: 15px;
}

#board_list_date{
	
}

#board_list_writer{
	text-align:right;
}

#category_content{
	text-align:center;
	display: inline-block;
	width:50%;
	border: 1px green solid;
	margin: 100px 0 0 0;
}

#categroyList_box{
	width: 215px;
	height: 100%;
	border: 1px yellow solid;
	display: inline-block;
	margin-top:20px;
}

#category_update_box{
	margin: 20px 0 20px 0 ;
}

#category_btn{
	background-color: red;
	margin-left:10px;	
}

#category_btn2{
	background-color: green;	
}

/* footer */
footer{
	background-color: #202124;
	color:white;
}
#footer>ul>li{
	display:inline-block;
}
address span {
	margin: 10px 0 0 0;
	display: inline-block;
}